# Default registry
# Uncomment and replace `OWNER` with your username or organization to use a namespaced registry by default for downloads
# See https://help.github.com/en/github/managing-packages-with-github-package-registry/configuring-npm-for-use-with-github-package-registry#publishing-a-package
# registry=https://npm.pkg.github.com/OWNER

# Packages from other users and organizations
@codertocat:registry=https://npm.pkg.github.com
